@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --primary: #5449e9;
  --background-light: #f6f6f8;
  --background-dark: #07070b;
  --bg-surface: var(--background-light);
}

.dark {
  --bg-surface: var(--background-dark);
}

@theme {
  --color-primary: var(--primary);
  --color-background-light: var(--background-light);
  --color-background-dark: var(--background-dark);
  --font-display: "Outfit", "Inter", sans-serif;
}

body {
  @apply bg-background-light dark:bg-background-dark font-display text-slate-900 dark:text-slate-100 min-h-screen antialiased;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-200 dark:bg-slate-800 rounded-full hover:bg-slate-300 dark:hover:bg-slate-700 transition-colors;
}

/* Glassmorphism Classes */
.glass {
  @apply bg-white/80 dark:bg-slate-900/80 backdrop-blur-xl border border-white/20 dark:border-primary/5 shadow-xl;
}

@keyframes bounce-subtle {

  0%,
  100% {
    transform: translateY(-8px);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }

  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-subtle {
  animation: bounce-subtle 2s infinite;
}